<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    {% load static %}
    {% comment %} <link rel="stylesheet" href="{% static '' %}"> {% endcomment %}

<body>
    <div>
        <div>
            <h1>Counter Manager Registration</h1>
        </div>
        <div>
            {% comment %} (Registration)>Fullname, Email, Entity Name, RepeatEmail, Password, Repeat Password. {% endcomment %}
            <form action="registerAction" method="POST">
                {% csrf_token %}
                <input type="text" name="name" placeholder="Fullname">
                <input type="text" name="branchID" placeholder="BranchID">
                <input type="email" name="email" placeholder="Email">
                <input type="email" name="verifyEmail" placeholder="Repeat Email">
                <input type="password" name="password" placeholder="Password">
                <input type="password" name="verifyPassword" placeholder="Repeat Password">
                <input type="hidden" name="designation" value="is_counterManager">
                <button type="submit">Register</button>
            </form>
        </div>
        <a href="home" >Home</a>
    </div>
</body>

</html>