<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | Director</title>
    {% load static %}
    {% comment %} <link rel="stylesheet" href="{% static '' %}"> {% endcomment %}

<body>
    <div>
        <div>
            <h1>Director's Page</h1>
            <a href="logoutAction">Logout</a>
        </div>
        <div>Hi, Name</div>
    </div>
</body>

</html>