<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Billing|Owner</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/generalStyle.css' %}">
</head>

<body>
    <div class="parent-div">
        <div class="left-bar">
            <div class="profile-div">
                <p>Hi, Director</p>
                <a href="logoutAction">Logout</a>
            </div>

            <div class="dashboard-div">Dashboard</div>
            <div class="income-div">Income</div>
            <div class="expense-div">Expense</div>
            <div class="bank-account-div">Bank</div>
            <div class="reports-div">Reports</div>
            
        </div>
        <div class="right-section">
            <div class="today-income-div">Today <br> Income</div>
            <div class="montly-income-div">Monthly Income</div>
            <div class="today-expense-div">Today Expense</div>
            <div class="monthly-expense-div">Monthly Expense</div>
        </div>
    </div>
    
</body>
</html>