<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Billing|Cashier</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/cashierStyle.css' %}">
</head>

<body>
    <div class="parent-div">
        <div class="left-bar">
            <div class="profile-div">
                <p>Hi, Cashier</p>
                <a href="logoutAction">Logout</a>
            </div>
            <div class="dashboard-div active">Billing</div>
            <div class="exchange-div">Exchange</div>
            <div class="expense-div">Sales</div>
        </div>
        <div class="right-section">
            <h2>Customer Details</h2>
            <input type="text" name="customerName" placeholder="Customer Name">
            <input type="text" name="customerMobile" placeholder="Mobile Number">

            <h2>Billing</h2>
            <form action="billProduct" method="POST">
                {% csrf_token %}
                <input type="text" name="itemCode" placeholder="Item Code">
                <input type="number" name="itemQuantity" value="1" placeholder="Item Quantity">
                <button type="submit">Add</button>
            </form>


            <h2>Additional</h2>
            <input type="text" name="customerAddress" placeholder="Customer Address">

            <h2>Invoice</h2>
            <p>S.No</p>
            <p>Products
                {% for productName in productName %}
                {{productName}}
                {% endfor  %}
            </p>
            <p>Price : 
                {% for productActualPrice in productActualPrice %}
                {{productActualPrice}}
                {% endfor  %}
            </p>
            <p>Quantity : 
                {% for productQuantity in productQuantity %}
                {{productQuantity}}
                {% endfor  %}
            </p>
            <p>Tax : 

            </p>
            <p>Sub Total : 
                {% for productPricing in productPricing %}
                {{productPricing}}
                {% endfor  %}
            </p>
            <p>Total : {{totalBill}}</p>

            <br>
            <a href="billConfirm" >Confirm</a>
            <a href="billClear" >Clear</a>

           <br>

            

            proper calculation for tax
            cash/card mode confirmation

        </div>
    </div>
    
</body>
</html>