<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Billing | Home</title>
    {% load static %}
    {% comment %} <link rel="stylesheet" href="{% static '' %}"> {% endcomment %}

<body>
    <div>
        <div>
            <h1>Home (' .. ')</h1>
            <h2>Registration</h2>
            
            <a href="entityRegistration" >Entity Director</a>
            <a href="branchManagerReg" >Branch Manager</a>
            <a href="counterManagerReg" >Counter Manager</a>
            <h2>Login</h2>
            <a href="loginAction" >Login</a>

        </div>
    </div>
</body>

</html>